<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="TTMS.ConsumerService.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
            <section name="TTMS.MessageService.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="TTMS.MessageService.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="TTMS.MessageService.Properties.Settings.MessageBusConnection"
            connectionString="amqp://guest:guest@localhost:5672/vhost" />
        <add name="TTMS.ConsumerService.Properties.Settings.MessageBusConnection"
            connectionString="amqp://guest:guest@localhost:5672/vhost" />
    </connectionStrings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <applicationSettings>
        <TTMS.ConsumerService.Properties.Settings>
            <setting name="IncomingMessageQueue" serializeAs="String">
                <value>ttms_db</value>
            </setting>
            <setting name="ApiUrl" serializeAs="String">
                <value>https://localhost:44347</value>
            </setting>
            <setting name="ErrorMessageQueue" serializeAs="String">
                <value>ttms_error</value>
            </setting>
        </TTMS.ConsumerService.Properties.Settings>
        <TTMS.MessageService.Properties.Settings>
            <setting name="IncomingMessageQueue" serializeAs="String">
                <value>ttms_db</value>
            </setting>
        </TTMS.MessageService.Properties.Settings>
    </applicationSettings>
    <userSettings>
        <TTMS.MessageService.Properties.Settings>
            <setting name="ApiUrl" serializeAs="String">
                <value>https://localhost:44347</value>
            </setting>
        </TTMS.MessageService.Properties.Settings>
    </userSettings>
</configuration>