<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="TTMS.ConsumerService.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
            <section name="TTMS.MessageService.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="TTMS.MessageService.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="TTMS.MessageService.Properties.Settings.MessageBusConnection" connectionString="amqp://guest:guest@localhost:5672/vhost" />
        <add name="TTMS.ConsumerService.Properties.Settings.MessageBusConnection" connectionString="amqp://guest:guest@localhost:5672/vhost" />
    </connectionStrings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <applicationSettings>
        <TTMS.ConsumerService.Properties.Settings>
            <setting name="IncomingMessageQueue" serializeAs="String">
                <value>ttms_read</value>
            </setting>
            <setting name="ApiUrl" serializeAs="String">
                <value>https://localhost:44347</value>
            </setting>
            <setting name="ErrorMessageQueue" serializeAs="String">
                <value>ttms_error</value>
            </setting>
            <setting name="LogFile" serializeAs="String">
                <value>C:\Temp\TTMS\Logs\ttms.srv-{Date}.log</value>
            </setting>
            <setting name="LogLevel" serializeAs="String">
                <value>Debug</value>
            </setting>
        </TTMS.ConsumerService.Properties.Settings>
        <TTMS.MessageService.Properties.Settings>
            <setting name="IncomingMessageQueue" serializeAs="String">
                <value>ttms_db</value>
            </setting>
        </TTMS.MessageService.Properties.Settings>
    </applicationSettings>
    <userSettings>
        <TTMS.MessageService.Properties.Settings>
            <setting name="ApiUrl" serializeAs="String">
                <value>https://localhost:44347</value>
            </setting>
        </TTMS.MessageService.Properties.Settings>
    </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.4.1" newVersion="4.0.4.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Logging.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.2.0.0" newVersion="2.2.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>